---
# StorageClass for SSD volumes
# High-performance storage suitable for databases and latency-sensitive applications
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: emma-ssd
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
provisioner: csi.emma.ms
parameters:
  # Volume type: ssd, ssd-plus, or hdd
  type: ssd
  
  # Emma data center ID where volumes will be created
  # Must match the data center where your nodes are running
  # Example values: aws-eu-west-2, aws-us-east-1, gcp-europe-west1
  # To find available data centers: GET /v1/data-centers
  dataCenterId: aws-eu-west-2
  
  # Filesystem type: ext4 or xfs
  fsType: ext4

# Wait for first consumer ensures volumes are created in the same
# data center as the pod that will use them
volumeBindingMode: WaitForFirstConsumer

# Allow volume expansion (resize)
allowVolumeExpansion: true

# Reclaim policy: Delete or Retain
# Delete: Volume is deleted when PVC is deleted
# Retain: Volume is kept when PVC is deleted (manual cleanup required)
reclaimPolicy: Delete

# Mount options (optional)
# mountOptions:
#   - discard

---
# StorageClass for SSD Plus volumes
# Premium high-performance storage with enhanced IOPS
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: emma-ssd-plus
provisioner: csi.emma.ms
parameters:
  type: ssd-plus
  dataCenterId: aws-eu-west-2
  fsType: ext4
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
reclaimPolicy: Delete

---
# StorageClass for HDD volumes
# Cost-effective storage suitable for backups and archival data
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: emma-hdd
provisioner: csi.emma.ms
parameters:
  type: hdd
  dataCenterId: aws-eu-west-2
  fsType: ext4
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
reclaimPolicy: Delete

---
# StorageClass with Retain policy
# Volumes are not deleted when PVC is deleted
# Useful for important data that should be manually managed
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: emma-ssd-retain
provisioner: csi.emma.ms
parameters:
  type: ssd
  dataCenterId: aws-eu-west-2
  fsType: ext4
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
reclaimPolicy: Retain

---
# StorageClass with XFS filesystem
# XFS is suitable for large files and high-throughput workloads
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: emma-ssd-xfs
provisioner: csi.emma.ms
parameters:
  type: ssd
  dataCenterId: aws-eu-west-2
  fsType: xfs
volumeBindingMode: WaitForFirstConsumer
allowVolumeExpansion: true
reclaimPolicy: Delete

---
# Example PersistentVolumeClaim using the default StorageClass
# This demonstrates how to request storage using the Emma CSI driver
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: example-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: emma-ssd
  resources:
    requests:
      # Note: Volume sizes must match Emma's available configurations
      # Common sizes: 32Gi, 64Gi, 128Gi, 256Gi, 512Gi, 1Ti
      storage: 32Gi

---
# Example Pod using the PVC
# This demonstrates how to mount an Emma volume in a pod
apiVersion: v1
kind: Pod
metadata:
  name: example-pod
  namespace: default
spec:
  containers:
    - name: app
      image: nginx:latest
      volumeMounts:
        - name: data
          mountPath: /data
  volumes:
    - name: data
      persistentVolumeClaim:
        claimName: example-pvc
